<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050717718844-m7uo114col7vc0fn43akofosrba6npkf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050717718844-m7uo114col7vc0fn43akofosrba6npkf</string>
	<key>API_KEY</key>
	<string>AIzaSyCu8FnDyPQcXrn6uhAysPpEjuuE5kHdWN4</string>
	<key>GCM_SENDER_ID</key>
	<string>1050717718844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bytecode.labs.element-club-14</string>
	<key>PROJECT_ID</key>
	<string>element-club14</string>
	<key>STORAGE_BUCKET</key>
	<string>element-club14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050717718844:ios:38ad8fd339835e60727639</string>
</dict>
</plist>